/* nav */
.navigation {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.navigation ul li {
  margin: 10px;
}
.navigation ul li a {
  color: #272142;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 25px;
  line-height: 24px;
  text-decoration: none;
}
.active {
  color: #6c63ff !important;
}
.navigation ul li a:hover {
  color: #6c63ff;
}

.logo {
  width: 50px;
}
/* finish of nav */


#my-photo {
  height: 448px;
  border-radius: 15px;
}
.about-section {
  padding: 160px 20px;
}

.about-me-h1 {
  font-family: "Playfair Display", serif;
  font-size: 64px;
}
.about-me-h2 {
  color: #272142;
  font-family: "Poppins", sans-serif;
  color: #636669;
  font-size: 18px;
}

.text-content {
  font-family: "Playfair Display", serif;

  margin: 40px;
}
.button-to-project {
  font-family: "Poppins", sans-serif;
  background: #6c63ff;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
}
.button-to-project:hover {
  opacity: 0.9;
  color: lightgoldenrodyellow;
}
@media (max-width: 1200px) {
  .about-section {
    padding: 50px 20px;
  }
  .text-content {
    margin: 40px 0;
    text-align: center;
  }
  #my-photo {
    display: block;
    margin: 0 auto;
    height: 70%;
  }
  .about-me-information {
    margin: 0 50px;
  }
}
@media (max-width: 300px) {
  .about-section {
    padding: 0;
  }

  .about-me-h1 {
    font-size: 44px;
  }
}
