/* nav */
.navigation {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.navigation ul li {
  margin: 10px;
}
.navigation ul li a {
  color: #272142;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 25px;
  line-height: 24px;
  text-decoration: none;
}
.active {
  color: #6c63ff !important;
}
.navigation ul li a:hover {
  color: #6c63ff;
}

.logo {
  width: 50px;
}
.button-contact {
  margin-top: 49px;
  background-color: #6c63ff;
  color: #ffffff;
  padding: 18px 30px;
  border-radius: 4px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 27px;
  box-shadow: 4px 4px 4px gray;
}
.button-contact:hover {
  color: #6c63ff;
  border: 1px solid #6c63ff;
  background-color: #f9f7fe;
}

.container-foot {
  margin: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-container {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9f7fe;
  padding: 30px 120px;
  border-radius: 10px;
  width: 100%;
}
.flex-container h3 {
  font-weight: 700;
  font-family: "Playfair Display", serif;
  font-size: 48px;
}
.flex-container p {
  color: #6c757d;
  font-family: "Poppins", sans-serif;
}
#email{
  font-size: 
  30px;
font-family: "Playfair Display", serif;
font-weight: 700;
color: #000000;
text-decoration: none;

}
#email:hover{
    color: #6c63ff;
}
.flex-container2{
    display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container2 a{
  margin: 30px;
  font-size: 40px;
  color: #6c63ff;
  padding: 10px 20px;
  background-color:  #f9f7fe;
  border-radius: 60%;
}
.flex-container2 a:hover{
  background-color: #6c63ff;
  color: white;
}
@media (max-width: 850px) {
  .navigation ul li a {
    font-size: 20px;
    line-height: 10px;
  }
  .navigation {
    padding: 20px 10px;
  }
  .logo {
    width: 40px;
    margin-right: 10px;
  }
  .navigation ul li {
    margin: 5px;
  }

  .flex-container h3 {

    font-size: 30px;
  }
  .flex-container p{
        margin-bottom: 20px;
  }
.flex-container2 a{
  margin: 10px;
  font-size: 24px;
  color: #6c63ff;
  padding: 10px 15px;
}
#email{
  font-size: 18px;
}
}
@media (max-width: 1000px){
   .flex-container {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    margin: 0;
  }
}
@media (max-width: 400px) {
  .navigation ul li a {
    font-size: 14px;
    line-height: 2px;
  }
}
#my-photo {
  height: 448px;
  border-radius: 15px;
}
.about-section {
  padding: 160px 20px;
}

.about-me-h1 {
  font-family: "Playfair Display", serif;
  font-size: 64px;
}
.about-me-h2 {
  color: #272142;
  font-family: "Poppins", sans-serif;
  color: #636669;
  font-size: 18px;
}

.text-content {
  font-family: "Playfair Display", serif;

  margin: 40px;
}
.button-to-project {
  font-family: "Poppins", sans-serif;
  background: #6c63ff;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
}
.button-to-project:hover {
  opacity: 0.9;
  color: lightgoldenrodyellow;
}

@media (max-width: 1200px) {
  .about-section {
    padding: 50px 20px;
  }
  .text-content {
    margin: 40px 0;
    text-align: center;
  }
  #my-photo {
    display: block;
    margin: 0 auto;
    height: 70%;
  }
  .about-me-information {
    margin: 0 50px;
  }
}
@media (max-width: 300px) {
  .about-section {
    padding: 0;
  }

  .about-me-h1 {
    font-size: 44px;
  }
}
