/* nav */
.navigation {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.navigation ul li {
  margin: 10px;
}
.navigation ul li a {
  color: #272142;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 25px;
  line-height: 24px;
  text-decoration: none;
}
.active {
  color: #6c63ff !important;
}
.navigation ul li a:hover {
  color: #6c63ff;
}

.logo {
  width: 50px;
}
@media (max-width: 850px) {
  .navigation ul li a {
    font-size: 20px;
    line-height: 10px;
  }
  .navigation {
    padding: 20px 10px;
  }
  .logo {
    width: 40px;
    margin-right: 10px;
  }
  .navigation ul li {
    margin: 5px;
  }
}
@media (max-width: 400px) {
  .navigation ul li a {
    font-size: 14px;
    line-height: 2px;
  }
}

.container-contact {
  padding: 100px 20px;
}
.col {
  text-align: left;
}
input,
label,
button {
  display: block;
}
form {
  border: 1px solid #dee2e6;
  padding: 20px;
  border-radius: 5px;
}
.contact-info {
  padding: 120px 0px;
  padding-left: 100px;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 48px;
  font-size: 60px;
}
label {
  margin-bottom: 10px;
  font-family: "Playfair Display", serif;
}
#email {
  border: 1px solid #dee2e6 ;
  width: 100%;
  margin-bottom: 10px;
}
#message {
  border: 1px solid #dee2e6;
  width: 100%;
  margin-bottom: 10px;
}
.contact-info a {
  margin-left: 10px;
}
.contact-info i {
  font-size: 20px;
  padding-left: 3px;
}
.contact-info h3 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 10px;
}
button {
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  background-color: #6c63ff;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: white;
}
.container-foot {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-container {
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9f7fe;
  padding: 30px 120px;
  border-radius: 10px;
  width: 100%;
}
.flex-container h3 {
  font-weight: 700;
  font-family: "Playfair Display", serif;
  font-size: 48px;
}
.flex-container p {
  color: #6c757d;
  font-family: "Poppins", sans-serif;
}
#email2 {
  font-size: 30px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  border: none;
}
#email2:hover {
  color: #6c63ff;
}
.flex-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container2 a {
  margin: 30px;
  font-size: 40px;
  color: #6c63ff;
  padding: 10px 20px;
  background-color: #f9f7fe;
  border-radius: 60%;
}
.flex-container2 a:hover {
  background-color: #6c63ff;
  color: white;
}
.button-contact {
  margin-top: 49px;
  background-color: #6c63ff;
  color: #ffffff;
  padding: 18px 30px;
  border-radius: 4px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 27px;
  box-shadow: 4px 4px 4px gray;
}
.button-contact:hover {
  color: #6c63ff;
  border: 1px solid #6c63ff;
  background-color: #f9f7fe;
}

@media (max-width: 1400px) {
  h1 {
    font-size: 40px;
  }
}
@media (max-width: 1000px) {
  .contact-info {
    padding: 140px 0px;
    padding-left: 50px;
  }
}
@media (max-width: 850px) {
  .contact-info {
    padding: 50px 0px;
  }
  .col {
    text-align: center;
  }
  button {
    display: block;
    margin: 0 auto;
  }
  .container-contact{
    padding-bottom: 0;

  }
  .container .row {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .flex-container h3 {
    font-size: 30px;
  }
  .flex-container p {
    margin-bottom: 20px;
  }
  .flex-container2 a {
    margin: 10px;
    font-size: 20px;
    color: #6c63ff;
    padding: 10px 15px;
  }
  #email {
    font-size: 18px;
  }
}
@media (max-width:1000px) {
    .flex-container {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    margin: 0;
    margin-bottom: 30px;
  }
}
