/* nav */
.navigation {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.navigation ul li {
  margin: 10px;
}
.navigation ul li a {
  color: #272142;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 25px;
  line-height: 24px;
  text-decoration: none;
}
.navigation ul li a:hover {
  color: #6c63ff;
}
.active {
  color: #6c63ff !important;
}

.logo {
  width: 50px;
}
/* finish of nav */





.projects{
   padding: 160px 20px; 
}
h1 {
  font-size: 60px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-bottom: 48px;
}
.projects h3 {
  font-family: "Poppins", sans-serif;
}
.projects p {
  color: #6c757d;
  font-family: "Playfair Display", serif;
}
.projects img {
  border-radius: 20px;
}
.row {
  margin-bottom: 24px;
}

@media screen and (max-width: 800px) {
  .row {
    margin-bottom: 0;
  }

  .col {
    margin-bottom: 40px !important;
  }
  h1 {
    font-size: 35px;
  }
  .projects .container .row {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
  .projects img {
    width: 80%;
  }

  .projects .container .row .col {
    margin-bottom: 20px;
  }
}
